{% extends "base.html" %}
{% include "nav.html" %}
{% block content%}
<div class="content-section">
    <form method="POST">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
         <legend class="border-bottom mb4">Please give us your impression/Suggestions</legend>
        <div class="form-group">
            {{form.imp.label(class="form-control-label")}}
    
            {% if form.imp.errors %}
                {{form.imp(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.imp.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{form.imp(class="form-control form-control-lg")}}
            {% endif %}
    </div>
        <div class="form-group">
        {{form.sug.label(class="form-control-label")}}
    
        {% if form.sug.errors %}
            {{ form.sug(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.sug.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
                {{form.sug(class="form-control form-control-lg")}}
            {% endif %}
    </div>
    </fieldset>
    <div class="form-group">
            {{form.submit(class="btn btn-outline-info")}}    
        </div>
    </form>
    
    </div>

{% endblock content %} 